
.container{
    width: 100%;
    //margin: auto;
    padding-top: 100px;
    display: flex;

    .left-content,.right-content{
     
        flex-basis: 50%;
    }
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.5fr));
    gap: 2rem;

    .btn-group{
        display: flex;
        button{
            outline: none;
            border: 1 px solid black;
            width: 150px;
            padding: 0.3rem 0;
            margin: 1rem;
            font-size: 17px;
            font-weight: bold;
            border-radius: 8px;
            
        }
       
    }
 
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
     top: 100px;
     right: 100px;
     
    
}
.card{
    width: 350px;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;

    img{
        width: 80px;
    }
}
.right{
    img{
        height: 200px;
        width: 200px;
        margin: 2rem;
    }
    h1{
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .group{
        text-transform: uppercase;
    }
}

